@import '../variables/variables.scss';

.navbar {
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background: $color-blue;
    margin-bottom: 2rem;
    box-shadow: $box-shadow;

    /* Search */

    .search {
        background: $color-white;
        padding: 0 1rem;
        border-radius: 1rem;
        width: 50%;

        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            cursor: pointer;
            transition: transform 0.2s ease-out;

            &:hover {
                transform: scale(1.2);
            }

            path {
                fill: $color-blue;
            }
        }

        &-input {
            border: 0;
            outline: 0;
            padding: 1rem 0;
            font-size: 1.5rem;
            color: $color-black;
            width: 100%;

            &::-moz-selection {
                color: $color-black;
                background: rgb(66, 66, 66, 0.2);
            }

            &::selection {
                color: $color-black;
                background: rgb(66, 66, 66, 0.2);
            }
        }
    }

    /* Title */

    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: $color-white;

        span {
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

/* Media queries */

@media screen and (max-width: 580px) {
    .navbar {
        .search {
            width: 100%;
        }

        h2 {
            display: none;
        }
    }
}
