@import '../variables/variables.scss';

.user {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem 0;
    border-bottom: 1px solid $color-black-2;

    /* Avatar Name container */

    &-name-container {
        .avatar-container {
            margin-right: 2rem;
        }

        .name-email-container {
            p:nth-child(1) {
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 2.2rem;
                color: $color-blue;

                &::-moz-selection {
                    color: $color-blue;
                    background: rgb(54, 150, 214, 0.2);
                }

                &::selection {
                    color: $color-blue;
                    background: rgb(54, 150, 214, 0.2);
                }
            }

            .email-icon {
                margin: 0.3rem 0.3rem 0 0;

                path {
                    fill: $color-blue;
                }
            }

            p:nth-child(2) {
                font-size: 1.3rem;
                color: $color-black;
                margin-top: 0.2rem !important;

                &::-moz-selection {
                    color: $color-black;
                    background: rgb(66, 66, 66, 0.2);
                }

                &::selection {
                    color: $color-black;
                    background: rgb(66, 66, 66, 0.2);
                }
            }
        }
    }

    /* Phone container */

    .phone-container {
        .phone-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.3rem;

            path {
                fill: $color-blue;
            }
        }

        p {
            font-size: 1.7rem;
            font-weight: 700;
            color: $color-black;

            &::-moz-selection {
                color: $color-black;
                background: rgb(66, 66, 66, 0.2);
            }

            &::selection {
                color: $color-black;
                background: rgb(66, 66, 66, 0.2);
            }
        }
    }

    /* Action container */

    .action-container {
        button {
            border: 0;
            outline: 0;
            background: unset;
        }

        .edit-icon,
        .trash-icon,
        .confirm-icon {
            width: 2.2rem;
            height: 2.2rem;
            cursor: pointer;
            transition: transform 0.2s ease-out;

            &:hover {
                transform: scale(1.2);
            }

            &.edit-icon,
            &.confirm-icon {
                margin-right: 1rem;

                path {
                    fill: $color-green;
                }
            }

            &.trash-icon {
                path {
                    fill: $color-red;
                }
            }
        }
    }
}

/* Media queries */

@media screen and (max-width: 1200px) {
    .user {
        .phone-container {
            .phone-icon {
                width: 2rem;
                height: 2rem;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: 1005px) {
    .user {
        grid-template-columns: 2.5fr 1fr 1fr;

        &-name-container {
            .name-email-container {
                p:nth-child(1) {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .user {
        grid-template-columns: 2.5fr 2fr 1fr;

        &-name-container {
            .avatar-container {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .user {
        &-name-container {
            .name-email-container {
                p:nth-child(1) {
                    font-size: 1.4rem;
                }

                p:nth-child(2) {
                    font-size: 1rem;
                }
            }
        }

        .phone-container {
            .phone-icon {
                width: 1.7rem;
                height: 1.7rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .action-container {
            .edit-icon,
            .confirm-icon,
            .trash-icon {
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }
}
