@import '../variables/variables.scss';

.users-form {
    border-radius: 1rem;
    padding: 4rem 3rem;
    background: $color-white;
    box-shadow: $box-shadow;
    height: min-content;
    order: 2;

    &-header {
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-black-2;

        p {
            font-size: 1.7rem;
            font-weight: 700;
            color: $color-black;
        }
    }

    .users-form-input-container {
        button {
            margin-top: 2rem;
            padding: 1rem;
            border: 0;
            outline: none;
            font-size: 1.3rem;
            font-weight: 700;
            background: $color-black;
            color: $color-white;
            border-radius: 0.5rem;
            transition: background 0.2s ease-out, color 0.2s ease-out;
            user-select: none;

            &.disabled {
                pointer-events: none;
                color: $color-black-2;
                background: $color-grey-3;
            }
        }
    }
}

/* Media queries */

@media screen and (max-width: 950px) {
    .users-form {
        order: 1;
    }
}
