$color-white: #ffffff;
$color-grey: #e3e6e8;
$color-grey-2: #e3e6e8b3;
$color-black: #424242;
$color-black-2: #42424233;
$color-blue: #3696d6;
$color-green: #17a61e;
$color-red: #db2114;

$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
